.todo {
	background: #181718;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 20px;
	color: #bfbfbf;
}

.todo-add {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.todo-add input {
	padding: 10px;
	border: none;
	border-radius: 5px;
}

.todo-list {
	list-style: none;
}

.todo-item div {
	margin: 10px;
}

.todo-item .btn-delete {
	margin-left: 20px;
	visibility: hidden;
}
.todo-item:hover .btn-delete{
	visibility: visible;
}

.btn { 
	padding: 10px;
	background: #4598dc;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}